/* RESET CSS */
html * {
    margin: 0px;
    text-decoration: none;
}

#cabecalho {
    background-color: #5d5d5d;
    height: 400px;
    /* ATIVA O MODO FLEXIVEL */
    display: flex;
    
    /* PARA CENTRALIZAR IMAGEM */
    justify-content: center;
    
    /* ALINHA VERTICAL */
    align-items: CENTER;
}
#haroldo{
    /* ALTURA */
    height: 300px;
    /* LARGURA */
    width: 300px;
    /* AJUSTAR PROPORÇÃO */
    object-fit: cover;
    /* ARREDONDAR IMAGEM */
    border-radius: 50%;
}
h1, h2{
    color:#ffffff;
    padding:20px;
}

#principal {
    background-color: #3f3f3f;
    height: 500px;
    text-align: center;
}

.container {
    /* ATIVA O MODO FLEXIVEL */
    display: flex;
    
    /* PARA CENTRALIZAR IMAGEM */
    justify-content: center;
    
    /* ALINHA VERTICAL */
    align-items: CENTER;
}

.caixas {
    /* ALTURA  */
    height: 300px;

    /* LARGURA */
    width: 300px;

    /* COR DE FUNDO */
    background-color: #f1ebeb;
    
    /* ESPAÇAMENTO */
    margin: 20px;

    /* ATIVA O MODO FLEXIVEL */
    display: flex;
    
    /* PARA CENTRALIZAR IMAGEM */
    justify-content: center;
    
    /* ALINHA VERTICAL */
    align-items: CENTER;

    color: blue;
}

#rodape {
    background-color: #cccaca;
    height: 200px;
/* ATIVA O MODO FLEXIVEL */
display: flex;
    
/* PARA CENTRALIZAR IMAGEM */
justify-content: center;

/* ALINHA VERTICAL */
align-items: CENTER;
}
#facebook {
   /* ALTURA */
   height: 50px;
   /* LARGURA */
   width: 50px;
   /* AJUSTAR PROPORÇÃO */
   object-fit: cover;
   /* ARREDONDAR IMAGEM */
   border-radius: 50%;
   /* ESPAÇAMENTO */
   margin: 20px;
}
#linkedin {
   /* ALTURA */
   height: 50px;
   /* LARGURA */
   width: 50px;
   /* AJUSTAR PROPORÇÃO */
   object-fit: cover;
   /* ARREDONDAR IMAGEM */
   border-radius: 50%;
   /* ESPAÇAMENTO */
   margin: 20px;
}
#instagram {
     /* ALTURA */
   height: 50px;
   /* LARGURA */
   width: 50px;
   /* AJUSTAR PROPORÇÃO */
   object-fit: cover;
   /* ARREDONDAR IMAGEM */
   border-radius: 50%;
   /* ESPAÇAMENTO */
   margin: 20px;
}
